#landing {
  min-height: 100vh;
  background: url('../../assets/instr.jpg');
  // background: url('/assets/concert-crowd.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
  // background-color: green;
}

#landing-text {
  color: white;
  text-align: center;
}
