

$offcanvas-size-vertical: 1000px;
$offcanvas-background: #000000;
$offcanvas-color: isitlight($offcanvas-background);

.off-canvas-wrapper {
  background-image: url('./WootWood.png');
}
.off-canvas-wrapper-inner::after {
  // Sidebar height
  height: 100vh; // This has to be set as well as the .off-canvas
}

.off-canvas-wrapper-inner {
  // Sidebar height
  background-image: url('/WootWood.png');
  background-repeat: repeat;
}

.off-canvas.position-left {
  // Sidebar color
  height: 100vh;
  background-color: $black;
}

.vertical, .menu > li {
  // sidebar inner menu
  // Li elements in the vertical menu
}

.list-header, #sidebar {
  color: red;
  text-align: center;
}

.header-text {
  margin-top: 1em;
}

.is-drilldown-submenu.is-active {
  background-color: darkgrey;
  border: inherit; 
}
