.game-board {
  max-width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 3px;
  table-layout: auto;
  // tbody {
  //   display: table-row-group;
  // }  
  position: relative;
}

.game-winner {
  background-color: gray !important;
}

.game-container {
  display: table;
  

  margin: 0 auto;  
  max-width: 80%;  
}
