.game-square {
  max-height: auto;
  max-width: auto;
  height: 150px;
  width: 150px;
  border-style: solid;
  border-color: black;
  border-width: 5px; 
  text-align: center;
  font-size: 5em;
  text-shadow: 3px 2px 5px #7D26CD;
}

// make a disabled property or each square after a piece is placed